* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
  font-size: 1.5em;
  margin:15px 0;
  font-weight: 300;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
	display:inline-block;
  box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
  text-align: right;
}

input[type=number]:focus {
    border-color:cornflowerblue;
}

span{
  font-size: 1.5em;
  color: rgb(24, 20, 20);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.row {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
}

.row.main {
  background: aliceblue;
}

.flag {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 5px;
}

.currency {
  width: 100%;
}
